.header {
  background: rgb(231, 231, 231);
  position: relative;

  padding: 3rem;

  img {
    position: absolute;
    left: 5%;
    bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #000;
  }

  div {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    .bar {
      margin-left: 1.5rem;
      height: 2rem;
    }

    .xpBar{
      margin-left: 1.5rem;
      height: 1rem;
    }
  }
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  max-height: 90%;
  max-width: 70%;
  overflow: hidden;
  background: white;
  overflow: scroll;
}


.mob {
  background: #f3a6a0;
}

.player{
  background: #f3ede1;
}

.npc{
  background: #74b9ff;
}


.charCard {
  display: flex;
  flex-direction: column;

  .charInfo{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 1rem;
      margin-left: auto;
      max-width: 200px;
    }

    .charStats{
      display: flex;
      align-items: center;
      margin-top: .2rem;

      .miniBar{
        margin-left: .5rem;
        height: .8rem;
      }
    }
  }
}

.meditationDialog {
  button {
    margin: .5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;

    button {
      margin: .5rem;
    }
  }
  

  .stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 450px;
    
    padding: 1rem;

    .data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-top: 1rem;

      flex-wrap: wrap;

      div{
        display: flex;
        flex-direction: column;
        flex-direction: flex-start;

        

        margin: 1rem
      }
    }
  }

  
}